{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block%}
    About
{% endblock %}

{% block body_block %}

    <div>
        <h3>This tutorial has been put together by Samuel Agbede</h3>
        <h5>You have visited this page {{ visits }} times</h5>
    </div>
    <div>
        <p>Static Image - Billy Graham</p>
       <img src="{% static 'images/billy.png' %}" alt = "Image of Billy Graham"/>
    </div>

    <div>
        <p>Dynamic Image - Garfield</p>
       <img src="{{MEDIA_URL}}garfield.jpg" alt = "Image of Garfield"/>
    </div>
{% endblock %}
